.fc-content {
  
  text-align: center;
  background-color: white;
}

.fc-widget-content{
  /* vertical-align: center; */
   /* padding-top: 2em; 
   height: 1em; */
  /* Align Vertically */
  /* align-content: center; */
  /* align-items: center; */
  
}

.fc-title {
  
  display: inline-block;
  color: black;
}

.fc td.fc-today{
  background: #98d8c9 !important; 
  
}

.weight-chart{
  height: 550px;
  width: 90%;
}

/* .weight-chart{
  height: 25em;
  width: 50em;
} */
body {
  background-color: rgb(234, 234, 234) !important;
}

.main-container{
  padding-top: 3em;
  /* text-align: center;
  align-content: center; */
  margin: 0 auto;
}



.card {
  text-align: center;
  background-color: #d4d949;
}
.success {
  background-color: #9b8ca5 !important;
}
.info {
  background-color: #a0a605 !important;
}
.warning {
  background-color: #98d8c9 !important;
}
.danger {
  background-color: #59574c !important;
}