.fc-content {
  
  text-align: center;
  background-color: white;
}

.fc-widget-content{
  /* vertical-align: center; */
   /* padding-top: 2em; 
   height: 1em; */
  /* Align Vertically */
  /* align-content: center; */
  /* align-items: center; */
  
}

.fc-title {
  
  display: inline-block;
  color: black;
}

.fc td.fc-today{
  background: #98d8c9 !important; 
  
}